<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'api:api-root' %}">API</a></li>

        {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'subject:event-list' %}">Schodzky</a></li>
            <li><a href="{% url 'user:list' %}">Uživatelé</a></li>
            <li><a href="{% url 'user:logout' %}">Odhlásit</a></li>
        {% else %}
            <li><a href="{% url 'user:login' %}">Přihlásit</a></li>
        {% endif %}
    </ul>
</div>
