{% if is_paginated %}
<div>
    <ul class="pagination pagination-centered">
        {% if page_obj.has_previous %}
            <li><a href="?paginate_by={{ paginate_by }}&amp;page={{ page_obj.previous_page_number }}">Předchozí</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if i == page_obj.number %}
                <li class="active"><a href="?paginate_by={{ paginate_by }}&amp;page={{ page_obj.number }}">{{i}}</a></li>
            {% else %}
            <li><a href="?paginate_by={{ paginate_by }}&amp;page={{ i }}">{{i}}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?paginate_by={{ paginate_by }}&amp;page={{ page_obj.next_page_number }}">Další</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}